html,body{
    height: 100%;
    width: 100%;
}

#center{
    width: 300px;
    height: 200px;
    border: 1px solid red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}